.add-todo {
	padding: 1em;

	.add-todo-label {
		font-size: 1.5em;
	}

    input,
    button {
		display: block;
		width: 100%;
		margin: .5em 0;
		padding: .5em 1em;
		box-sizing: border-box;
		font-size: 1.5em;
    }

    button {
		background: #ddd;
		border: 1px solid #000;
    }

    button:hover {
      	cursor: pointer;
    }
}
