.main-container {
    max-width: 40%;
    margin: 2em auto;

    .todo-title {
        margin-top: 0;
        text-align: center;
        text-decoration: underline;
    }

    .todo-container {
        width: 100%;
        background: white;
        border: 1px solid #ddd;
        padding: 1em;
        box-shadow: 3px 3px 8px 0px #888888;
    }

    .todo-list {
        list-style: none;
        padding-left: 1em;
        padding-right: 1em;
    }
}
