.todo {
    display: flex;
    font-size: 1.25em;
    align-items: center;
    padding: .5em 0;

    .done-todo {
        text-decoration: line-through;
    }

    p:hover {
        cursor: pointer;
    }

    .delete-todo {
        margin-left: auto;
    }
}

